html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}

body {
  background:#00384F;
  background:#c2c2c2;
  margin:0;
}

iframe {
  border:0;
  margin: 0;
  width:100%;
  height:100%;
  background: #f5f5f5;
    overflow: auto;
}

@media (min-width: 375px) {
  iframe {
    width:100vw;
    height:100vh;
  }
}

@media (min-width: 414px) {
  iframe {
    width:100vw;
    height:100vh;
  }
}

@media (min-width: 600px) {

  .device__screen {
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.2);
    overflow:hidden;
    margin: 148px auto;
  }

  .device__screen {
    /*transform: scale(1);*/
  }
  .device__screen--iphone5 {
    width:320px;
  }

  .device__screen--iphone5 iframe {
    width:320px;
    height:568px;
  }

  .device__screen--iphone6 {
    width:375px;
    height:667px;
  }

  .device__screen--iphone6 iframe {
    width:375px;
    height:667px;
  }

  .device__screen--iphone6plus {
    width:414px;
  }

  .device__screen--iphone6plus iframe {
    width:414px;
    height:736px;
  }

}