iframe {
  border:0;
  margin: 0;
  width:100%;
  height:100%;
  background: #f5f5f5;
}

@media (min-width: 375px) {
  iframe {
    width:375px;
    height:667px;
  }
}

@media (min-width: 414px) {
  iframe {
    width:414px;
    height:736px;
  }
}