@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.otf');
}

body {
  margin: 0;
  height:100%;
}

figure {
  margin:0;
}

.all__pages {
  height:100%;
  overflow:hidden;
}
.page {
  position: relative;
  background: #f5f5f5;
  /*background: #e2e2e2;*/
  height:100%;
  transition-duration: 300ms;
}

.page--overlay {
  z-index:2001;
}
.page__inner {
  height:100%;
}
.overlay {
  display:block;
  transition-duration: 300ms;
} 

.overlay--hidden {
  display:none;
} 

.overlay--fullscreen {
  position:absolute;
  z-index:5000;
  top:0;
  left:0;
  bottom:0;
  right:0;
  pointer-events: none;
  /*background:rgba(255,255,255,0.5);*/
}

.overlay__inner {
  position:absolute;
  z-index:5000;
  top:0;
  left:0;
  bottom:0;
  right:0;
  //position:relative;
  width:100%;
  height:100%;
}

.overlay--blur {
  left:0px;
  background:rgba(0,0,0,0.2);
  -webkit-backdrop-filter: blur(40px);
}

.overlay--gradient--blur {
  background:rgba(116,188,247,0.8);
  background: linear-gradient(to bottom right, rgba(13,42,64,0.9), rgba(116,188,247,0.9));
  -webkit-backdrop-filter: blur(20px);
}

.overlay--opacity--0 {
  opacity: 0;
  pointer-events:none;
} 

.overlay--opacity--1 {
  opacity: 1;
  pointer-events:auto;
}

.overlay__vypr__logo {
  position:relative;
  margin-top:40px;
  width:100%;
  height:128px;
  background:url("../assets/overlay_vypr_logo@3x.png");
  background-position: center;
  background-size:320px 128px;
  background-repeat:no-repeat;
}
.overlay__button {
  width:calc(100% - 120px);
  height:64px;
  border-radius: 32px;
  border: 1px solid #fff;
  /*background: rgba(255,255,255,0.2);*/
  line-height:64px;
  font-size:20px;
  font-family: 'Gotham-Medium';
  font-weight:normal;
  -webkit-font-smoothing: antialiased;
  color:#fff;
  text-align: center;
  position:absolute;
  bottom:24px;
  left:60px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.overlay__button:active, .overlay__button:hover {
  background:rgba(13,42,64,0.5);
  -webkit-tap-highlight-color: rgba(13,42,64,0.5);
}

.header__questions {
  position:absolute;
  top:0;
  z-index:5000;
  width:100%;
  background: #ffffff;
  box-shadow: 0px -5px 6px 1px rgba(0,0,0,0.2);
}

.header__status {
  display: flex;
  flex-direction:row;
  height:40px;
  background: #fff;
  width:100%;
}

.header__close {
  flex-basis: 48px;
}

.header__close__icon {
  position:absolute;
  top:2px;
  left:2px;
  width:44px;
  height:44px;
  z-index:10000;
  text-align:center;
  vertical-align: middle;
  background-image:url("../assets/close_icon@3x.png");
  background-size: 32px 32px;
  background-position:center;
  background-repeat: no-repeat;
}
.header__status__progress {
  flex-grow: 1;
}
.header__status__progress__bg {
  margin-top:20px;
  width:100%;
  height:8px;
  background:#E3E3E3;
  border-radius: 4px;
}


.header__status__page_number {
  flex-basis: 48px;
}

.header__questions__status {
  height:40px;
}

.header__questions__question {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__h1 {
  font-family: 'Gotham-Medium', sans-serif;
  font-weight:normal;
  text-align:center;
  margin:0;
  font-size:25px;
  line-height:28px;
  letter-spacing: -0.5px;
  -webkit-font-smoothing: antialiased;
  font-weight:normal;
}

.header__h1--smaller {
  font-size:21px;
  line-height:24px;
}

.header__h1__white {
  color:#fff;
}

.header__status__progress__percent {
  width:20%;
  background:#0D2A40;
  background: linear-gradient(to right, #0D2A40, #74BCF7);
  height:8px;
  border-radius: 4px;
  transition-duration: 500ms;
}

.main__questions {

}

.main__questions__inner {
  /*transition-duration: 0ms;*/
}

.main__questions__inner--ready {
  transition-duration: 500ms;
}

.footer__questions {
  position:absolute;
  bottom:0;
  width:100%;
  background: #ffffff;
  box-shadow: 0px 5px 6px -1px rgba(0,0,0,0.2);
}

.yesnobutton {
  position:absolute;
  bottom:4px;
}

.yesnobutton__circle {
  border: 1px solid black;
}

.yesnobutton__label {
  text-align: center;
  font-family: 'Gotham-Medium', sans-serif;
  font-size:16px;
  line-height:20px;
}

.question__block {
  transition-duration: 400ms;
}

.question__block--offscreenleft {
  transition-duration: 400ms;
  opacity:0.5;
  transform:rotate(-5deg) translateX(-10vw) scale(0.8);
}

.question__block--offscreenright {
  opacity:0.2;
  transform:rotate(15deg) translateX(90vw) scale(0.2);
}

.question__image {
  background:#e3e3e3;
  border-radius: 6px;
  margin: 0 auto;
  background-size: cover;
  box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.5);
}

.question__image__overlay {
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height:100%;
  transition-duration: 150ms;
}

.question__image__overlay--blur {
  background:rgba(255,255,255,0.5);
  -webkit-backdrop-filter: blur(2px);
}

.question__image__tick {
  position:relative;
  width:256px;
  height:256px;
  background: linear-gradient(to bottom right, #0D2A40, #74BCF7);
  border-radius: 128px;
  box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.5);
  /*transition-duration: 300ms;*/
  /*transform: translate(-100px,50px);*/
  opacity:0;
}

.question__image__tick--yes {
  
  /*transform: translate(100px,50px);*/
  background: linear-gradient(to bottom right, #0D2A40, #74BCF7);
}

.question__image__tick--no {
  background: linear-gradient(to bottom right, #7F7F7F, #B2B2B2);
  /*transform: translate(-100px,50px);*/
}

.question__image__tick__icon {
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background-image: url("../assets/tick_large_icon@3x.png");
  background-size:contain;
  background-repeat: no-repeat;
}

.question__image__tick--yes .question__image__tick__icon {
  background-image: url("../assets/tick_large_icon@3x.png");
  background-size:contain;
  background-repeat: no-repeat;
}

.question__image__tick--no .question__image__tick__icon {
  background-image: url("../assets/cross_large_icon@3x.png");
  background-size:contain;
  background-repeat: no-repeat;
}


.question__image__tick--display {
  transition: all 200ms cubic-bezier(.6,0,.73,.05);
  opacity:1;
  width:128px;
  height:128px;
  transform: translate(0px,0px);
}

.question__caption {
  text-align: center;
  font-family: 'Gotham-Book', sans-serif;
  font-weight:normal;
  margin-top:10px;
}

@media (min-width: 320px) {
  .header__questions {
    height: 168px;
  }

  .header__questions__question {
    height:128px;
    margin: 0 30px;
  }

  .main__questions {
    padding-top:168px;
  }

  .footer__questions {
    height: 100px;
  }

  .yesnobutton__circle {
    width:62px;
    height:62px;
    border-radius:32px;
  }

  .yesnobutton__yes {
    right:20px;
  }

  .yesnobutton__no {
    left:20px;
  }

  .question__image--large {
    width: 315px;
    height: 315px;
    width:calc(100vw - 60px);
    height:calc(100vw - 60px);
    margin-top:20px;
  }
}

@media (min-width: 375px) {

  .main__questions {
    width:375px;
    width:100vw;
    overflow:hidden;
    -webkit-overflow-scrolling: touch;
  }

  .main__questions__inner {
    width:calc(375px * 5);
    width:calc(100vw * 5);
  }

  .main__questions__inner {
    display: flex;
    flex-direction:row;
  }

  .question__block {
    width:100%;
    width:375px;
    width:100vw;
  }

  .header__questions {
    height: 168px;
  }

  .header__questions__question {
    height:128px;
    margin: 0 30px;
  }

  .main__questions {
    padding-top:168px;
  }

  .footer__questions {
    height: 100px;
  }

  .yesnobutton__circle {
    width:62px;
    height:62px;
    border-radius:32px;
  }

  .yesnobutton__yes {
    right:30px;
  }

  .yesnobutton__no {
    left:30px;
  }

  .question__image--large {
    width: 315px;
    height: 315px;
    width:calc(100vw - 60px);
    height:calc(100vw - 60px);
    margin-top:20px;
  }

  .question__caption {
    font-size:18px;
    line-height:20px;
    margin: 0 60px;
    margin-top:10px;
  }
}