@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.otf');
}

body {
  margin: 0;
  height:100%;
  background: #f5f5f5;
}

figure {
  margin:0;
}

.all__pages {
  height:100%;
  overflow:hidden;
}
.page {
  position: relative;
  background: #f5f5f5;
  /*background: #e2e2e2;*/
  height:100%;
  transition-duration: 300ms;
}

.page__inner {
  height:100%;
}

.header__steers__list__logo {
  position:fixed;
  z-index:1000;
  top:0;
  width:100%;
  height:84px;
  background:#0D2A40;
  background: linear-gradient(to bottom right, #0D2A40, #74BCF7);
}

.header__steers__list__count {
  position:fixed;
  z-index:1000;
  top:84px;
  width:100%;
  height:36px;
  background:#fff;
  background:rgba(255,255,255,0.8);
  background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.5));
  -webkit-backdrop-filter: blur(30px);
  color:rgba(0,0,0,0.5);
  font-family: 'Gotham-Medium', sans-serif;
  font-weight:normal;
  font-size:16px;
  line-height:36px;
  -webkit-font-smoothing: antialiased;
  padding-left:20px;
}

.main__steers__list {
  width:calc(100vw);
  height:calc(100vh - 84px - 36px);
  padding-top: calc(84px + 36px);

  /*position:absolute;
  top:calc(84px + 36px);
  bottom:0;*/
  /*
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left:20px;
  margin-right:20px;
  padding-bottom:20px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  */
}

.main__steers__list__inner {
  position:relative;
  height:calc(100vh - 84px - 36px);
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.main__steers__list__end {
  width:100%;
  height:25px;
}
.steers__list__item {
  margin-top:25px;
}


.steers__list__item {
  width:155px;
  height:155px;
  width:calc( (100vw - 20px - 20px - 25px) / 2);
  height:calc( (100vw - 20px - 20px - 25px) / 2);
  background:#999;
  border-radius:6px;
  background-size:cover;
}

@media (min-width: 375px) {
  .main__steers__list {
    width:calc(100vw);
  }

  .isDesktop .main__steers__list{
    width:calc(100vw + 15px);
  }
}
